// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$primary-light: #304964;
$primary-dark: #1e344c;
$secondary-light: #8391a5;
$secondary-dark: #e7edf2;
$accent-red: #ff0043;
$accent-green: #009688;
$card-brown: #d3b792;
$super-light: #b1bfd3;