// Body
.header{
    height: 80px;
    width: 100vw;
    background-color: $primary-dark;
}

.container{
	background-color: $primary-light;

	.navigationContainer{
		background-color: blue;
	}

	.overviewContainer{
		background-color: green;
	}
}