
// Header
.header{
    height: 80px;
    background-color: $primary-light;
}

// Body
#superContainer{
	background-image: url("../../public/images/backgroundAccent.png");
	background-color: $primary-dark;
	background-size: 45%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
	min-height: 100vh;
    height: 100%;

	.navigationContainer{
		margin-top: 85px;

		.navigationItem{
			width: 100%;
			height: 40px;
			color: $secondary-light;
			display: flex;
    		align-items: center;

			&:hover{
		        color: $secondary-dark;
		    }

			&.active{
				background-color: $primary-light;
				margin-left: -50px;

				.navigationItemText{
					color: $secondary-dark;
					margin-left: 50px;
				}
			}
		}
	}

	.contentContainer{
		.overviewFilter{
			color: $secondary-light;
			height: 75px;
			margin-bottom: 10px;
			display: flex;
			align-items: flex-end;
			justify-content: space-around;

			.overviewSwitch{
				display: flex;
    			justify-content: flex-end;
			}
		}

		.overviewCards{
			
		}
	}
}