// Body
.header{
    height: 80px;
    width: 100vw;
    background-color: $primary-light;
}

#superContainer{
	background-color: $primary-dark;
	background-size: 45%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-color: $primary-dark;
    height: 100vh;
	background-image: url("../../public/images/backgroundAccent.png");


	.navigationContainer{
		.navigationItem{
			background-color: $primary-light;
			width: 100%;
			height: 30px;
			color: white;
			display: flex;
    		align-items: center;
    		color: white;
		}
		
	}

	.overviewContainer{
		background-color: green;
	}
}