.inputFields{

}

.containerAddItem{
    padding: 10px;
    margin-top: 83px;  // ligt er aan of we wel of niet menu erbij doen of deze pagina compleet het scherm vullen

}

.existingFile, .quiz{
    margin-left: 10px;
}

.quiz{
    margin-bottom: 10px;
}

.buttonLeft, .buttonRight{
    position: absolute;
}


div.itemCollection {
    overflow: auto;
    white-space: nowrap;
  }
  
  div.item {
    display: inline-block;
  }

.cancelButton, .saveButton{
    border-radius: 30px;
    width: 120px;
}

.cancelButton{
    background-color: $accent-red !important;
}



.exampleCard{
    background-color: $card-brown;
    height: 500px;
    margin-top: 4%;
}

.emoteIconExample{
    color: $secondary-light;
    font-size: 3rem;
}

.itemImage img{
    height: 170px;
    padding: 15px;
}


// Style for scrollbar
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $secondary-light; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: $super-light; 
}


// example 

.background{
    background-color: rgba(84,110,122,0.6);  //needs to be rgba because of opacity
    height: 600px;
}

.exampleCard .title{
    padding: 0px 10px;
    font-size: 1.8rem;
}

.exampleCard .content{
    height: 310px;
    padding: 0px 10px;
    overflow: auto;
}