body{
    overflow-y: scroll;
    overflow-x: hidden;
    
	#toast-container{
		top: 75%!important;

		.toast-success{
			background-image: none!important;
			box-shadow: none!important;
			opacity: 1!important;
			text-decoration: none!important;
		    color: #fff!important;
		    background-color: #26a69a!important;
		    text-align: center!important;
		    letter-spacing: 0.5px!important;
		    border: none!important;
		    border-radius: 5px!important;
		    height: 45px!important;
		    line-height: 36px!important;
		    padding: 0 16px!important;
            text-transform: uppercase!important;
            margin-left: 45px !important;

		    &:hover{
		    	box-shadow: none!important;
		    }
		}

		.toast-warning{
			background-image: none!important;
			box-shadow: none!important;
			opacity: 1!important;
			text-decoration: none!important;
		    color: #fff!important;
		    background-color: $accent-red!important;
		    text-align: center!important;
		    letter-spacing: 0.5px!important;
		    border: none!important;
		    border-radius: 5px!important;
		    height: auto !important;
		    line-height: 20px!important;
		    padding: 0 16px!important;
            text-transform: uppercase!important;
            margin-left: 45px !important;

		    &:hover{
		    	box-shadow: none!important;
		    }
        }
	}
}

.containerAddItem{
    padding: 10px;
    margin-top: 83px;  // ligt er aan of we wel of niet menu erbij doen of deze pagina compleet het scherm vullen
}

.existingFile, .quiz{
    margin-left: 10px;
}

.quiz{
    margin-bottom: 10px;
}

.buttonLeft, .buttonRight{
    position: absolute;
}


div.itemCollection {
    overflow: auto;
    white-space: nowrap;
  }
  
  div.items {
    display: inline-block;
  }

.cancelButton, .saveButton{
    border-radius: 30px;
    width: 120px;
}

.cancelButton{
    background-color: $accent-red !important;
}

.emoteIconExample{
    color: #685643;
    font-size: 3rem;
}

.validate{
    color: $secondary-light !important;
}


// Style for scrollbar
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $secondary-light; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: $super-light; 
}

.questionTitle{
    margin-top: 20px;
}

.questionOwnText{
    margin-top: 20px;
}

.questionExFile{
    margin-top: 40px;
}

.question{
    color: $secondary-light;
}

.popup{
    position: absolute;
    background-color: $primary-light;
    z-index: 1;
    height: 120px;
    width: 350px;
    border-radius: 4px;
    box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.28);
    right: 300px;
    top: 175px;
}

.popup_inner{
    padding-left: 15px;
    color: $secondary-dark;
}

.cross{
    color: $secondary-dark;
}

.itemImage img{
    height: 180px;
    width: auto;
    padding: 15px;
}

// example 

.exampleCard{
    background-image: url("../../public/images/letterBackgroundMaze.png");
    background-size: 98%;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    background-repeat: no-repeat;
}

.allContent{
    height: 625px;
}

.buttonsFeedback img{
    width: 170px;
    height: auto;
    padding: 5px !important;
}

.background{
    height: 670px;
}

.exampleCard .allContent .title{
    padding-top: 50px;
    font-size: 1.8rem;
    word-wrap: break-word;
}

.exampleCard .allContent .content{
    height: 220px;
    padding: 0px 10px;
    overflow: auto;
}

.inputField{
    color: $secondary-dark !important;
}


// statistics

.statisticsFilter{
    color: $secondary-light;
    height: 75px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}

.statisticsLabel{
    margin-left: 0 !important;
}


.titleStat{
    color: $secondary-light;
    display: flex;
    justify-content: center;
}

.chart{
    // padding: 0 8% !important;
}

.legendGevoel{
    width: 30px;
    height: 25px;
}
.legendGevoel0{
    background-color: #ff0043;
}

.legendGevoel1{
    background-color: #77c6a0;
}

.legendGevoel2{
    background-color: #304964;
}

.content img{
    max-width: 100%;
}
.feedback p{
    margin-left: 10px;
}

//mobile
@media screen and (max-width: 415px) {
    .exampleCard .allContent .content {
      height: 110px;
    }
    .exampleCard .allContent .title{
        padding-top: 20px;
        font-size: 1.2rem;
        word-wrap: break-word;
    }
    .exampleCard .allContent{
        font-size: 0.8rem;
    }
    .feedback p{
        margin-left: 20px;
        font-size: 0.6rem;
    }

    .navigationContainer{
        &.active{
            margin-left: 0;
        }
        .navigationItemText{
            margin-left: 0px;
        }
    }
    canvas{
        width: 100%;
    }
    .popup{
        right: 20px;
        width: 315px;
    }
    .containerAddItem{
        padding: 0px;
        margin-top: 35px;
    }            
    .itemImage img{
        height: 120px;
        width: auto;
    }
  }

  @media screen and (max-width: 1270px) and (min-width: 416px) {
    .exampleCard .allContent .content {
      height: 200px;
    }                
  }

  .input-field label{
    color: $secondary-light !important;
  }

  .inputField{
    border-bottom-color: $secondary-light !important;
  }

  .label{
    color: $secondary-light !important;
  }